params {
   projectDir = '/home/anna/workflow/myelo/src/project'
   // workDir = '/home/anna/workflow/myelo/src/work'
   launchDir = '/home/anna/workflow/myelo/src/launch'
   homeDir = '/home/anna/workflow/myelo/src'
   outDirectory = '/mnt/d/ann/WORKFLOW/Myelo/runs'
   baseDir = '/mnt/d/ann/workflowFLOW/Myelo/input'
   inputDirectory = '/mnt/d/ann/WORKFLOW/Myelo/input'
   projectDirectory = '/home/anna/workflow/myelo/src/project/xsvato01/archer_nf'
   ref = '/home/anna/workflow/reference/TP53-nextflow-references/Homo_sapiens/GRCh37-p13/seq/GRCh37-p13'
   vep = '/home/anna/workflow/vep/ensembl-vep/'
   vep_fasta = '/home/anna/workflow/reference/GRCh37-p13.fa'
   refindex = '/home/anna/workflow/reference/TP53-nextflow-references/Homo_sapiens/index/BWA/GRCh37-p13'
   picard = '/home/anna/workflow/myelo/src/project/xsvato01/archer_nf/bin/picard.jar'
   ivl = '/home/anna/workflow/myelo/src/project/xsvato01/archer_nf/beds/jana_archer_unique_plus2nt.intervals' 
   bed = '/home/anna/workflow/myelo/src/project/xsvato01/archer_nf/beds/jana_archer_unique_plus2nt.bed' 
   // vcf2csv = '/home/anna/workflow/myelo/src/project/xsvato01/archer_nf/scripts/vcf2table_MDS.py' 
   vcf2csv = '/home/anna/workflow/myelo/src/vcf2table_MDS.py' 
   covscript = '/home/anna/workflow/myelo/src/project/xsvato01/archer_nf/scripts/coverage_stat_jana.R' 
   mergescript = '/home/anna/workflow/myelo/src/project/xsvato01/archer_nf/scripts/merge_tables.R'

   flt3tar = '/home/anna/workflow/myelo/src/project/xsvato01/archer_nf/bin/FLT3.tar.gz'
   fgbio = '/home/anna/workflow/myelo/src/project/xsvato01/archer_nf/bin/fgbio-0.8.1.jar'
}

workDir = '/mnt/d/ann/WORKFLOW/Myelo/work'

process {
   shell = ['/bin/bash', '-eo', 'pipefail']
   errorStrategy = 'retry'
   maxRetries = 3
   cpus = 1
   memory = '1GB'
   withConda = true
   }

conda {
  enabled = true
}

profiles {
   standard {
      process {
         cpus = 4
         memory = '10GB'
      }
   }

   high_mem {
      process {
         cpus = 8
         memory = '32GB'
      }
   }
}

